/* Vue generated CSS classes */
/* Documentation: https://vuejs.org/v2/guide/transitions.html */

.u-fade-enter-active,
.u-fade-leave-active {
  transition: opacity .25s linear;
}

.u-fade-enter, 
.u-fade-leave-to {
  opacity: 0;
}

.u-slideIn-enter-active,
.u-slideIn-leave-active {
  transition: transform .5s cubic-bezier(.75, 0, 0, 1);
}

.u-slideIn-enter, 
.u-slideIn-leave-to {
  transform: translate3d(calc(-1 * var(--col-3)), 0, 0);
}