a {
  color: var(--grey-darkest);
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
	font-weight: 300;
	letter-spacing: var(--spacing);
  line-height: var(--bsl);
  color: var(--grey-darkest);
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: var(--primary-font);
  outline: 0;
}

:--headings {
  font-size: var(--ms-r);
  font-weight: 500;
}

textarea {
  display: block;
  resize: none;
}