.c-button {
  display: inline-block;
  border: none;
  font-size: var(--ms-xs);
  font-weight: 500;
  line-height: var(--bsl);
  text-transform: uppercase;
  letter-spacing: var(--spacing-wide);
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &--l {
    padding: calc(var(--bsl) / 5) var(--bsl);
    margin-bottom: -2px;
    border: 1px solid var(--grey-light);
    border-radius: var(--bsl);
    font-size: var(--ms-s);
  }

  &--light {
    color: var(--light);
  }

  &--danger {
    color: var(--danger);
    border-color: var(--danger);
  }

  &--secondary {
    color: var(--grey);

    &:hover {
      color: var(--grey-dark);
    }
  }

  &--submit:not(:disabled) {
    border-color: var(--secure);
    color: var(--secure);
  }
}