.c-button {
  padding: calc(var(--bsl) / 3) var(--bsl);
  margin-bottom: -2px;
  border: 1px solid var(--grey);
  border-radius: var(--bsl);
  font-size: var(--ms-s);
  text-transform: uppercase;
  letter-spacing: var(--spacing-wide);
  background-color: transparent;
  cursor: pointer;

  &--submit:not(:disabled) {
    border-color: var(--secure);
    color: var(--secure);
  }

  &:disabled {
    cursor: not-allowed;
  }
}