.c-card {
  width: var(--col-6);
  padding: var(--bsl);
  margin-bottom: calc(var(--bsl) - 2px);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  background-color: var(--light);
  box-shadow: var(--shadow);

  &__actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__date {
    font-size: var(--ms-s);
    color: var(--grey);
    letter-spacing: var(--spacing-wide);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--bsl) / 3);
  }

  &__thumbnail {
    display: block;
    height: calc(var(--bsl) * 7);
    margin-bottom: calc(var(--bsl) / 2);
    object-fit: cover;
  }
}