.c-checklist {
  position: sticky;
  top: calc(var(--bsl) * 2);
  align-self: flex-start;
  width: var(--col-6);
  padding: var(--bsl);
  // margin-top: calc(-var(--bsl) * 3);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  background-color: var(--light);
  box-shadow: var(--shadow);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--bsl) / 2);
    margin-bottom: -1px;
    border-bottom: 1px dashed var(--grey-light);
    
    & h2 {
      font-weight: 300;
    }
  }

  &__items {
    margin-bottom: var(--bsl);
  }
}