.c-checklist {
  position: sticky;
  top: calc(var(--bsl) * 3);
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: var(--col-6);
  padding: var(--bsl);
  margin-top: calc(-var(--bsl) * 3);
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  background-color: var(--light);
  box-shadow: 0 0 8px rgba(0, 0, 0, .04);

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--bsl) / 2);
    margin-bottom: -1px;
    border-bottom: 1px dashed var(--grey-light);
    
    & h2 {
      font-weight: 300;
    }
  }

  &__items {
    margin-bottom: var(--bsl);
  }

  & .c-button {
    align-self: flex-end;
  }
}