.c-form {
  display: flex;
  
  &--checklist {
    justify-content: space-between;
  }

  &--user {
    flex-direction: column;
    width: var(--col-12);
  }

  &__actions {
    display: flex;
    justify-content: flex-end;

    &--content {
      margin-top: calc(var(--bsl) / 3);
      margin-bottom: calc(var(--bsl) / 3);
      padding: calc(var(--bsl) / 3);
      border: 1px solid var(--grey-light);
      border-radius: var(--bsl);
      background-color: var(--light);
    }

    & .c-button {
      margin-left: calc(var(--bsl) / 2);
    }
  }

  &__field {
    &:last-child {
      margin-bottom: calc(var(--bsl) * 2);
    }
  }

  &__fieldsets {
    width: var(--col-12);
  }

  &__input {
    position: relative;
    width: 100%;
    padding: calc(var(--bsl) / 2) calc(var(--bsl) / 1.5);
    margin-bottom: -2px;
    border: 1px solid var(--grey-light);
    border-radius: var(--radius);
    font-size: var(--ms-r);
    font-weight: 300;
    letter-spacing: var(--spacing);
    background-color: var(--light);
    caret-color: var(--grey);

    &--file {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: calc(var(--bsl) / 2 - 2px);
      }

      & input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  &__label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    & .c-form__thumbnail {
      margin-right: calc(var(--bsl) / 2);
    }
  }

  &__labelName {
    position: relative;
    top: calc(var(--bsl) / 2);
    left: calc(var(--bsl) / 3);
    font-size: var(--ms-xs);
    letter-spacing: var(--spacing-wide);
    text-transform: uppercase;
    color: var(--grey-dark);
    transform: translate3d(calc(var(--bsl) / 3), var(--bsl), 0);
    transition: transform .25s cubic-bezier(.75, 0, 0, 1);
    cursor: text;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: -1;
      height: calc(var(--bsl) / 2);
      width: 100%;
      background-color: var(--light);
      opacity: 0;
      transition: opacity 0s linear .25s;
    }

    &.u-isUntransformed {
      &::before {
        opacity: 1;
      }
    }
  }

  &__thumbnail {
    min-height: var(--bsl);
    border-radius: var(--radius);

    &--s {
      height: var(--bsl);
      width: var(--bsl);
      object-fit: cover;
    }
  }

  & .c-tooltip {
    right: calc(var(--bsl) / 2);
    top: calc(var(--bsl) * 1.5);
  }
}