.c-form {
  display: flex;
  justify-content: space-between;

  &__actions {
    display: flex;
    justify-content: flex-end;

    & .c-button--submit {
      margin-left: calc(var(--bsl) / 2);
    }
  }

  &__field {
    &:last-child {
      margin-bottom: calc(var(--bsl) * 2);
    }
  }

  &__fieldsets {
    width: var(--col-12);
  }

  &__input {
    position: relative;
    width: 100%;
    padding: calc(var(--bsl) / 2) calc(var(--bsl) / 1.5);
    margin-bottom: -2px;
    border: 1px solid var(--grey-light);
    border-radius: var(--radius);
    font-size: var(--ms-r);
    font-weight: 300;
    letter-spacing: var(--spacing);
    background-color: var(--light);
    caret-color: var(--grey);

    &--file {

      & input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  &__label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__labelName {
    position: relative;
    top: calc(var(--bsl) / 2);
    left: calc(var(--bsl) / 3);
    font-size: var(--ms-xs);
    letter-spacing: var(--spacing-wide);
    text-transform: uppercase;
    color: var(--grey-dark);
    transform: translate(calc(var(--bsl) / 3), var(--bsl));
    transition: transform .25s cubic-bezier(.88, 0, 0, 1);
    cursor: text;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: -1;
      height: calc(var(--bsl) / 2);
      width: 100%;
      background-color: var(--light);
      opacity: 0;
      transition: opacity 0s linear .25s;
    }

    &.u-isUntransformed {
      &::before {
        opacity: 1;
      }
    }
  }

  & .c-tooltip {
    right: calc(var(--bsl) / 2);
    top: calc(var(--bsl) * 1.5);
  }
}