.c-mainMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: var(--col-3);
  border-right: 1px solid var(--dark);
  overflow: hidden;
  background-color: #191919;
  box-shadow: 1px 0 8px rgba(0, 0, 0, .04);

  &__link {
    display: inline-block;
    height: 100%;
    color: var(--light);

    &--active {
      font-weight: 300;
      cursor: default;
    }
  }

  &__nav {
    padding-top: calc(var(--bsl) * 1.5);
    padding-bottom: var(--bsl);
  }

  &__section {
    padding: var(--bsl);
    margin-bottom: -1px;
    border-bottom: 1px solid var(--dark);
  }

  &__subtitle {
    font-size: var(--ms-xs);
    letter-spacing: var(--spacing-wide);
    text-transform: uppercase;
    color: var(--grey-dark);
  }

  &__title {
    padding-right: var(--bsl);
    padding-left: var(--bsl);
    color: var(--grey-dark);
  }
}