.c-mainMenu {
  position: fixed;
  top: var(--bsl);
  left: var(--bsl);
  z-index: 10;
  width: calc(var(--col-3) - var(--bsl));
  border: 1px solid var(--dark);
  border-radius: var(--radius);
  // overflow: hidden;
  background-color: #191919;
  box-shadow: 1px 0 8px rgba(0, 0, 0, .04);

  &__link {
    display: inline-block;
    height: 100%;
    color: var(--light);

    &--active {
      font-weight: 300;
      text-decoration: line-through;
      cursor: default;
    }
  }

  &__nav {
    padding-top: calc(var(--bsl) / 1.5);
    padding-bottom: var(--bsl);
  }

  &__section {
    padding: var(--bsl);

    &:not(:last-child) {
      margin-bottom: -1px;
      border-bottom: 1px solid var(--dark);
    }
  }

  &__subtitle {
    font-size: var(--ms-xs);
    letter-spacing: var(--spacing-wide);
    text-transform: uppercase;
    color: var(--grey-dark);
  }

  &__user {
    display: flex;
    margin-left: calc(var(--bsl) / 1.5);
  }

  &__userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--bsl) / 0.75);
    width: calc(var(--bsl) / 0.75);
    // border: 1px solid var(--grey-darkest);
    border-radius: 50%;
    background-color: var(--dark);
  }

  &__userName {
    font-size: var(--ms-xs);
    letter-spacing: var(--spacing-wide);
    color: var(--light);
  }
}