.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .1);

  &__container {
    padding: var(--bsl);
    border: 1px solid var(--grey-light);
    border-radius: var(--radius);
    background-color: var(--light);
    box-shadow: var(--shadow);
  }

  &__content {
    margin-bottom: calc(var(--bsl) / 2 - 1px);
    padding-bottom: calc(var(--bsl) / 2);
    border-bottom: 1px solid var(--grey-light);
  }
}