.t-page {
  &:not(.t-page--signIn) {
     margin-left: var(--col-3);
  }

  &__content {
    min-height: calc(100vh - (var(--bsl) * 5));
    padding: calc(var(--bsl) * 2) var(--col-1);
    margin-top: -1px;
    border-top: 1px solid var(--grey-light);
    background-color: var(--grey-lightest);

    &--grid {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;

      &::after {
        content: "";
        width: var(--col-6);
      }
    }

    &--list {

    }

    &--user {
      display: flex;
      justify-content: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--bsl) * 2) var(--col-1);
  }

  &__heading {
    font-size: var(--ms-m);
    font-weight: 300;

    & small {
      font-size: var(--ms-r);
      color: var(--grey);
    }
  }
}